### temp project files ###
/tmp
/brpstubs/GegenereerdUitBrpData/new

### soaplog folder with generated wiremock stubs ###
/soaplog

HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Gradle ###
.gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
nb-configuration.xml

### VS Code ###
.vscode/
/nbproject/

### Configuration files with confidential information ###

/src/test/resources/pre-prod-credentials.yml

# Dependency directories

node_modules/

test-reports/
