<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <springProperty name="LOG_FILE_MASKED" source="logging.file-masked.name"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="logback-appenders/ecs-file-appender.xml"/>
    <include resource="logback-appenders/ecs-file-appender-masked.xml"/>

    <property name="ecs.version" value="8.11"/>

    <springProperty scope="context" name="event.dataset" source="spring.application.name"/>
    <springProperty scope="context" name="event.timezone" source="user.timezone"/>
    <springProperty scope="context" name="host.architecture" source="os.arch"/>
    <springProperty scope="context" name="host.os.type" source="os.name"/>
    <springProperty scope="context" name="host.os.kernel" source="os.version"/>
    <springProperty scope="context" name="process.pid" source="PID"/>
    <springProperty scope="context" name="service.name" source="spring.application.name"/>
    <springProperty scope="context" name="service.type" source="null" defaultValue="brp-api"/>
    <springProperty scope="context" name="service.version" source="build.customVersion"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ECS_JSON_FILE"/>
        <appender-ref ref="ECS_JSON_FILE_MASKED"/>
    </root>
</configuration>
